# Домашнее задание 1

Все задания ниже имеют равный вес.

## Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов.  
Файлы делятся на две категории:
*   `Students_info_i` - информация о студентах из группы `i`
*   `Students_marks_i` - оценки студентов из группы `i` за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут:

 https://www.kaggle.com/residentmario/renaming-and-combining#Combining

## Практика

In [1]:
# импортируем библиотеку Pandas
import pandas as pd

In [2]:
%%capture
# загружаем данные
!wget https://github.com/evgpat/datasets/raw/main/students.zip

In [3]:
# проверяем загрузку (наличие файла students.zip)
!ls -lah

total 32K
drwxr-xr-x 1 root root 4.0K Jan 25 20:23 .
drwxr-xr-x 1 root root 4.0K Jan 25 20:20 ..
drwxr-xr-x 4 root root 4.0K Jan 23 14:23 .config
drwxr-xr-x 1 root root 4.0K Jan 23 14:24 sample_data
-rw-r--r-- 1 root root  16K Jan 25 20:23 students.zip

In [4]:
# разархивируем данные
!unzip students.zip

Archive:  students.zip
   creating: students/
  inflating: students/Students_info_0.csv
  inflating: students/Students_info_1.csv
  inflating: students/Students_info_2.csv
  inflating: students/Students_info_3.csv
  inflating: students/Students_info_4.csv
  inflating: students/Students_info_5.csv
  inflating: students/Students_info_6.csv
  inflating: students/Students_info_7.csv
  inflating: students/Students_info_8.csv
  inflating: students/Students_info_9.csv
  inflating: students/Students_marks_0.csv
  inflating: students/Students_marks_1.csv
  inflating: students/Students_marks_2.csv
  inflating: students/Students_marks_3.csv
  inflating: students/Students_marks_4.csv
  inflating: students/Students_marks_5.csv
  inflating: students/Students_marks_6.csv
  inflating: students/Students_marks_7.csv
  inflating: students/Students_marks_8.csv
  inflating: students/Students_marks_9.csv

In [5]:
# смотрим что получилось
!ls -lah students

total 128K
drwxrwxr-x 2 root root 4.0K Jul 25  2023 .
drwxr-xr-x 1 root root 4.0K Jan 25 20:23 ..
-rw-rw-r-- 1 root root 5.8K Jan 17  2021 Students_info_0.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_1.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_2.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_3.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_4.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_5.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_6.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_7.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_8.csv
-rw-rw-r-- 1 root root 6.0K Jan 17  2021 Students_info_9.csv
-rw-rw-r-- 1 root root 1.4K Jan 17  2021 Students_marks_0.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_1.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_2.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_3.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_4.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_5.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_6.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_7.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_8.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_9.csv

### Задание 1

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата

In [6]:
df = pd.DataFrame()

for i in range(10):
    info_temp = f'students/Students_info_{i}.csv'
    marks_temp = f'students/Students_marks_{i}.csv'

    df_info = pd.read_csv(info_temp)
    df_marks = pd.read_csv(marks_temp)

    df_temp = pd.merge(df_info, df_marks, on='index')
    df = pd.concat([df, df_temp], ignore_index=True)

df.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

### Задание 2

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы

In [7]:
df = df.drop('index', axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

### Задание 3

Выведите на экран размеры полученной таблицы

In [8]:
df.shape

(1000, 9)

### Задание 4

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [9]:
df[['math score', 'reading score', 'writing score']].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### Задание 5

Проверьте, есть ли в таблице пропущенные значения

In [10]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Задание 6

Выведите на экран средние баллы студентов по каждому предмету (`math`, `reading`, `writing`)

In [11]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

### Задание 7

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)?

Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [12]:
df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

### Задание 8

Выведите на экран все различные значения из столбца `lunch`

In [13]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

### Задание 9

Переименуйте колонку `parental level of education` в `education`, а `test preparation course` в `test preparation` с помощью метода pandas [`rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [14]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'
}, inplace=True)
df.head(0)

Empty DataFrame
Columns: [gender, race/ethnicity, education, lunch, test preparation, group, math score, reading score, writing score]
Index: []

### Задание 10

**Зафиксируем минимальный балл для сдачи экзамена**

In [15]:
passmark = 50

**Ответьте на вопросы**
* Какая доля студентов сдала экзамен по математике (passmark > 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [16]:
df[df['math score'] > passmark].shape[0] / df['math score'].count()

0.85

In [17]:
completed_course = df[df['test preparation'] == 'completed']
success = completed_course[completed_course['math score'] > passmark].shape[0]
success / completed_course.shape[0]

0.9078212290502793

In [18]:
fwc = df[(df['test preparation'] == 'none') & (df['gender'] == 'female')]
fwc[fwc['math score'] <= passmark].shape[0]/fwc.shape[0]

0.23353293413173654

### Задание 11

С помощью `groupby` выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [19]:
import time
start = time.time()
avg = df.groupby('race/ethnicity')['reading score'].mean()
end = time.time()
print("Время выполнения:", end - start)
avg

Время выполнения: 0.011214733123779297

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [20]:
start = time.time()
min = df.groupby('education')['writing score'].min()
end = time.time()
print("Время выполнения:", end - start)
min

Время выполнения: 0.022580623626708984

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

### Задание 12

Выполните задание 11 с помощью циклов. Сравните время выполнения

In [21]:
start = time.time()
avg_reading_scores = {}
for race in df['race/ethnicity'].unique():
    avg_reading_scores[race] = df[df['race/ethnicity'] == race]['reading score'].mean()
end = time.time()
print("Время выполнения:", end - start)
print("Средний балл за экзамен по чтению для каждой этнической группы:")
print(avg_reading_scores)

start = time.time()
min_writing_scores = {}
for education_level in df['education'].unique():
    min_writing_scores[education_level] = df[df['education'] == education_level]['writing score'].min()
end = time.time()
print("\nМинимальный балл за экзамен по письму для каждого уровня образования:")
print(min_writing_scores)
print("Время выполнения:", end - start)

Время выполнения: 0.006742000579833984
Средний балл за экзамен по чтению для каждой этнической группы:
{'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group A': 64.67415730337079, 'group D': 70.03053435114504, 'group E': 73.02857142857142}

Минимальный балл за экзамен по письму для каждого уровня образования:
{"bachelor's degree": 38, 'some college': 19, "master's degree": 46, "associate's degree": 35, 'high school': 15, 'some high school': 10}
Время выполнения: 0.014653444290161133

### Задание 13

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования.  
То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц ([pivot_table](https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas))

In [22]:
df.pivot_table(
    index=['gender', 'education'],
    values=['math score', 'reading score', 'writing score'],
    aggfunc='mean'
)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

### Задание 14

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице `df` под названием `Math_PassStatus` и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [23]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')

math_pass_counts = df['Math_PassStatus'].value_counts()
reading_pass_counts = df['Reading_PassStatus'].value_counts()
writing_pass_counts = df['Writing_PassStatus'].value_counts()

print("Количество студентов по математике:")
print(math_pass_counts)
print("\nКоличество студентов по чтению:")
print(reading_pass_counts)
print("\nКоличество студентов по письму:")
print(writing_pass_counts)

Количество студентов по математике:
Math_PassStatus
P    865
F    135
Name: count, dtype: int64

Количество студентов по чтению:
Reading_PassStatus
P    910
F     90
Name: count, dtype: int64

Количество студентов по письму:
Writing_PassStatus
P    886
F    114
Name: count, dtype: int64

### Задание 15

Сколько студентов успешно сдали все экзамены?

Создайте столбец `OverAll_PassStatus` и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [24]:
df['OverAll_PassStatus'] = df.apply(
    lambda row: 'P' if row['Math_PassStatus'] == 'P' and row['Reading_PassStatus'] == 'P' and row['Writing_PassStatus'] == 'P' else 'F',
    axis=1
)


overall_pass_count = df['OverAll_PassStatus'].value_counts().get('P', 0)


print(overall_pass_count)

812

### Задание 16

Переведем баллы в оценки

**Система перевода баллов в оценки**
*   [90;100] = A
*   [80;90) = B
*   [70;80) = C
*   [60;70) = D
*   [50;60) = E
*   [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец `Grade` и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [25]:
def GetGrade(average_mark):
    if 90 <= average_mark <= 100:
        return 'A'
    elif 80 <= average_mark < 90:
        return 'B'
    elif 70 <= average_mark < 80:
        return 'C'
    elif 60 <= average_mark < 70:
        return 'D'
    elif 50 <= average_mark < 60:
        return 'E'
    else:
        return 'F'


df['Average_Score'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)
df['Grade'] = df['Average_Score'].apply(GetGrade)
grade_counts = df['Grade'].value_counts()

print(grade_counts)

Grade
C    261
D    256
E    182
B    146
F    103
A     52
Name: count, dtype: int64